*{
    margin: 0;
    padding: 0;
    
    font-family: 'Comic Sans MS';
    
}

body
{
    background-image: url("../Photo/dark-and-black-hd-wood-frame-PPT.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .main .GameName h1{
    font-size: 7rem;
    text-align: center;
    color: wheat;
    text-shadow: red;
    margin-top: 80px;
    font-family: 'Luckiest Guy';
}

.container .main .UserData{
    margin-top: 50px ;
    
    
}

.container .main .UserData .username{
    display: block inline;
    
}

.container .main .UserData .usernametxt{
    color: #dbccd8;
    font-size: 3em;
}

.container .main .UserData .usernamedata input{
    height: 40px;
    width: 500px;
    
    font-size: 40px;
    background-color: white;
}

.container .main .UserData .usernamedata input:focus{
    border-radius: 15px;
    background-color: rgb(239, 245, 165);
    
}

.container .main .GameMode h3{
    color: #dbccd8;
    font-size: 1.5em;
    margin-top: 20px;
}

.container .main .ModeOptions select{
    width: 200px;
    height: 40px;
    font-size: 1.25em;
}

.container .main .PlayWith h3{
    color: #dbccd8;
    font-size: 1.5em;
    margin-top: 30px;
}

.container .main .UsersOptions{
    position: absolute;
    top: 23em;
    left: 46%;
}

.container .main .UsersOptions select{
    width: 200px;
    height: 40px;
    font-size: 1.25em;
    
}


.container .main .Buttons{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    display: block;
    margin-left: 290px;
    text-align: center;
}







.play{
    /* position: absolute;
    top:35rem;
    left: 50%; */
    font-family: 'Luckiest Guy';
    transform: translate(-50%);
    width: 150px;
    height: 40px;
    text-align: center;
    /* padding: 0.3rem; */
    /* border: 1px solid black; */
    background: #ffffff;
    cursor: crosshair;
    /* box-shadow: 6px 5px #888888; */
    transition: .5s;
    margin-top: 150px;
    margin-left: -33px;
    padding-top: 15px;
    font-size: 25px;
}

.play:hover{
    transition: 0.8s;
    background-color: rgb(141, 107, 65);
    width: 180px;
    height: 45px;
    color: white;
    text-align: center;
    font-size: 30px;
        
}

.confirm{
    position: absolute;
    top:23rem;
    left: 45%; 
    font-family: 'Luckiest Guy';
    transform: translate(-50%);
    width: 120px;
    height: 30px;
    text-align: center;
    /* padding: 0.3rem; */
    /* border: 1px solid black; */
    background: #ffffff;
    cursor: crosshair;
    /* box-shadow: 6px 5px #888888; */
    transition: .5s;
    margin-top: 150px;
    margin-left: -33px;
    padding-top: 10px;
    font-size: 20px;

    
}

.confirm:hover{
    transition: 0.8s;
/* box-shadow: 0px 0px #888888; */
    background-color: rgb(141, 107, 65);
    width: 140px;
    height: 37px;
    color: white;
    text-align: center;
    font-size: 25px;
    border: 1.5px sold yellow;
}
