*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Luckiest Guy';
    text-align: center;
    margin-top: 0.5rem;
   
}

h1{
    font-size: 3rem;
    color: wheat;
}

h3{
    font-size: 2rem;
    color: wheat;
}

a{
    position: absolute;
    top:6rem;
    font-size: 2rem;
    left: 50%;
    transform: translate(-50%);
    color: black;
}

a:hover{
    opacity: 0.7;
}



body {
     background-image: url("../Photo/dark-and-black-hd-wood-frame-PPT.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.player{     display:none; }

.container{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 600px;
    height: 520px;
    top: 9rem;
    background: rgb(97, 94, 97);
    border: 2px solid black;
    padding: .5rem;
    /* box-shadow: 5px 10px #888888; */

}

.container table tr td{
    width: 90px;
    height: 80px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}


.play{
    position: absolute;
    top:32rem;
    left: 50%;
    transform: translate(-50%);
    width: 100px;
    height: 30px;
    text-align: center;
    padding: 0.3rem;
    border: 1px solid black;
    background: rgb(97, 94, 97);
    cursor: pointer;
    /* box-shadow: 6px 5px #888888; */
    transition: .5s;
    color: azure;
    margin-top: 40px;
}

.play:hover{
    transition: 0.8s;
    background-color: rgb(141, 107, 65);
    width: 120px;
    height: 40px;
    color: white;
    text-align: center;
    font-size: 25px;
        
}
@media screen and (max-width: 600px){
    .container{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        width: 90%;
        height: 520px;
        top: 9rem;
        border: 2px solid black;
        padding: .5rem;
    
    }
    
body {
    
   background-size:auto;
}
    
}